:root {
  --primary-color: #0061ff;
  --base-size: 15px;
  --xs-size: 20px;
  --s-size: 30px;
  --m-size: 50px;
  --l-size: 70px;
  /* --xl-size: ; */
  --xxl-size: 100px;
  --jumbo-img-overflow: 60px;
}
/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* debug */
.debug,
.debug * {
  border: 1px dashed black;
}

* {
  font-size: 18px;
}

/* UTILS */
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}

.wrapper {
  font-size: 0;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
}
.column--small {
  width: 40%;
}
.column--big {
  width: 60%;
}

.btn--primary--blue {
  display: block;
  padding: 7px 14px;
  background-color: #0061ff;
  color: white;
  text-decoration: none;
}

.btn--primary--white {
  display: block;
  padding: 7px 14px;
  background-color: white;
  color: black;
  text-decoration: none;
}

/* HEADER */

.header {
  background-color: white;
  padding: 15px;

  display: flex;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 1;
}
.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav__logo {
  height: 1.3rem;
}
.header__nav__aboutUs,
.header__nav__contacts {
  list-style: none;
  margin: 0 var(--base-size);
}
.header__nav__aboutUs li,
.header__nav__contacts li {
  display: inline-block;
  margin: 0 var(--base-size);
}
.header__nav__aboutUs li > a,
.header__nav__contacts li > a {
  text-decoration: none;
  color: inherit;
}
.header__nav__auth__btn {
  display: inline-block;
  text-decoration: none;
  margin: 0 var(--base-size);
}
.gray {
  color: gray;
}

/* JUMBOTRON */

.jumbo {
  background-color: #9acfe9;
}
.jumbo .container {
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
}
.jumbo__headTitle {
  font-size: 4rem;
  margin-bottom: var(--jumbo-img-overflow);
}
.jumbo__content {
  display: flex;
  margin-bottom: calc(var(--jumbo-img-overflow) + 50px);
}
.jumbo__content__columnSmall__description {
  margin-bottom: 30px;
}
.jumbo__content__columnSmall__btn {
  margin-bottom: 30px;
  display: inline-block;
}
.jumbo__content__columnSmall__caption {
  margin-bottom: 30px;
  display: block;
}
.jumbo__content__columnSmall__icon {
  display: inline-block;
  font-size: 3rem;
}
.jumbo__content__columnBig {
  position: relative;
  top: var(--jumbo-img-overflow);
}

/* MAIN */

/* SECTION BUSINESS PLANS */

main .sectionPlans .container {
  padding: 50px 100px;
}
.sectionPlans__title {
  font-size: 2rem;
  margin-bottom: var(--m-size);
}
.sectionPlans__fatturazione {
  margin-bottom: var(--s-size);
}
.sectionPlans__fatturazione label {
  margin-right: var(--s-size);
}
.sectionPlans__businessPlans {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s-size);
}
.sectionPlans__businessPlans__card {
  width: calc((100% - (2 * var(--s-size))) / 3);
  min-width: 200px;
  min-height: 200px;
  flex: 1 0;

  border: 1px solid rgb(227, 227, 227);
}
.sectionPlans__businessPlans__card span,
.sectionPlans__businessPlans__card h3,
.sectionPlans__businessPlans__card hr {
  display: block;
  margin-bottom: var(--base-size);
}
.sectionPlans__businessPlans__card__businessType {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid rgb(227, 227, 227);
}
.sectionPlans__businessPlans__card__content {
  padding: var(--base-size);
}
.sectionPlans__businessPlans__card__content__businesstitle {
  font-size: 1.3rem;
}
.sectionPlans__businessPlans__card__content .gray {
  margin-bottom: var(--m-size);
}
.sectionPlans__businessPlans__card__content button {
  margin-top: var(--m-size);
  margin-bottom: var(--m-size);
}
.sectionPlans__businessPlans__card__content .fa-check {
  color: var(--primary-color);
}

/* SECTION PARTNER */

main .sectionPartner .container {
  padding: 50px 100px;
  display: flex;
}
.sectionPartner__column--small {
  padding: var(--m-size);
}
.sectionPartner__columnSmall__title {
  font-size: 1.3rem;
  margin-bottom: var(--xs-size);
}
.sectionPartner__columnSmall__desc {
  margin-bottom: var(--xs-size);
}
.sectionPartner__columnSmall__btn {
  display: inline-block;
  border: 1px solid currentColor;
}

/* SECTION FUNCTIONS */

main .sectionFunctions .container {
  padding: 50px 100px;
}
.sectionFunctions__title {
  font-size: 2rem;
  margin-bottom: var(--m-size);
}
.sectionFunctions__grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s-size);
}
.sectionFunctions__grid__card {
  width: calc((100% - (2 * var(--s-size))) / 3);
  min-width: 200px;
  flex: 1 0;
}
.sectionFunctions__grid__card__title {
  font-size: 1.3rem;
  margin-bottom: var(--xs-size);
}

/* SECTION COMPANIES AND TEAMS CLIENTS */

main .sectionCompanies > .container {
  padding: 50px 100px;
}

.sectionCompanies__title {
  font-size: 2.3rem;
  margin-bottom: var(--l-size);
}
.sectionCompanies__scopriDiPiu {
  display: inline-block;
  margin-bottom: var(--l-size);
}

.sectionCompanies__banner {
  display: flex;
}
.sectionCompanies__banner__block1,
.sectionCompanies__banner__block2,
.sectionCompanies__banner__block3 {
  width: calc(100% / 3);
  aspect-ratio: 1;
  display: flex;
  flex-wrap: wrap;
}
.sectionCompanies__banner__block1__teamLogo,
.sectionCompanies__banner__block3__teamLogo {
  padding: var(--l-size);
  aspect-ratio: 1;
  display: grid;
  align-items: center;
}

/* SECTION COMPANIES LOGOS BG-COLOR */

.sectionCompanies__banner__block1__teamLogo.--a2d39b {
  background-color: #a2d39b;
  color: white;
}
.sectionCompanies__banner__block1__teamLogo.--61082b {
  background-color: #61082b;
  color: white;
}
.sectionCompanies__banner__block1__teamLogo.--0093ce {
  background-color: #0093ce;
  color: white;
}
.sectionCompanies__banner__block1__teamLogo.--ff1c1c {
  background-color: #ff1c1c;
  color: white;
}
.sectionCompanies__banner__block3__teamLogo.--d5001f {
  background-color: #d5001f;
  color: white;
}
.sectionCompanies__banner__block3__teamLogo.--b4d0e7 {
  background-color: #b4d0e7;
  color: white;
}
.sectionCompanies__banner__block3__teamLogo.--0d2481 {
  background-color: #0d2481;
  color: white;
}
.sectionCompanies__banner__block3__teamLogo.--ffd830 {
  background-color: #ffd830;
  color: white;
}

/* BLOCK 2 DESIGNIT DESCRIPTION */

.sectionCompanies__banner__block2 {
  padding: var(--m-size);
  display: block;
  background-color: #f5f5f5;
}
.sectionCompanies__banner__block2__title {
  font-size: 3rem;
}
.sectionCompanies__banner__block2 span {
  display: block;
}
.sectionCompanies__banner__block2__subTitle {
  margin-bottom: var(--m-size);
}
.sectionCompanies__banner__block2__desc {
  margin-bottom: var(--m-size);
}

/* SECTION JOIN NOW  */

.sectionCompanies__joinNow {
  background-color: #b4d0e7;
}
.sectionCompanies__joinNow .container {
  padding: var(--xxl-size);
  display: flex;
}
.sectionCompanies__joinNow__columnBig__title {
  font-size: 2.3rem;
  color: #61082b;
}
.sectionCompanies__joinNow__columnSmall {
  text-align: right;
}
.sectionCompanies__joinNow__columnSmall__btn {
  display: inline-block;
}

/* SECTION Q&A */

.sectionFaq .container {
  padding: 50px 100px;
}

.sectionFaq__QA {
  position: relative;
  padding: 30px 0;
}

.sectionFaq__title {
  font-size: 2rem;
  margin-bottom: var(--m-size);
}
.sectionFaq__QA__question > i {
  position: absolute;
  right: 0;
  top: 30px;
}

.sectionFaq__QA__question > .fa-chevron-up {
  display: none;
}

.sectionFaq__QA__question:hover > .fa-chevron-up {
  display: block;
}

.sectionFaq__QA__question:hover > .fa-chevron-down {
  display: none;
}

.sectionFaq__QA__answer {
  display: none;
  margin-top: var(--s-size);
}

.sectionFaq__QA:hover .sectionFaq__QA__answer {
  display: block;
}

/* FOOTER */

.footer {
  background-color: black;
  color: white;
}

.footer .container {
  padding: 100px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__navLinks {
  width: 100%;
  list-style: none;
  line-height: 2.3rem;
}
.footer__navLinks a {
  color: inherit;
  text-decoration: none;
}
.footer__navLinks a:hover {
  text-decoration: underline;
}

.footer__navLinks__title {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.footer__selectLang {
  width: 1080px;
  margin: 0 auto;
  padding: 30px 0;
}

.footer__selectLang:hover {
  cursor: pointer;
}

/* 

main .sctn-plans {
  min-height: 700px;
  background-color: lightskyblue;
}

main .sctn-plans .container {
  display: flex;
  flex-wrap: wrap;
}
main .sctn-plans .card.column-30 {
  background-color: blueviolet;
  min-height: 800px;
}

main .sctn-plans .card {
  background-color: tomato;
  min-height: 300px;
}


main .sctn-partner .container {
  display: flex;
}
main .sctn-partner .container .column-small {
  flex-basis: 30%;
  min-height: 400px;
  background-color: lightgrey;
}
main .sctn-partner .container .column-big {
  flex-basis: 70%;
  min-height: 400px;
  background-color: lightslategrey;
}

main .sctn-functionality .container {
  display: flex;
  flex-wrap: wrap;
}

main .sctn-functionality .fig {
  min-height: 300px;
  background-color: lightseagreen;
}

main .sctn-business-plan .companies {
  display: flex;
  flex-wrap: wrap;
}
main .sctn-business-plan .companies .column-30 {
  aspect-ratio: 1;
}
main .sctn-business-plan .companies .w-50 {
  aspect-ratio: 1;
  display: inline-block;
} */
